<div class="weui-cells__title">清理步骤：<b color="#000;">1.扫二维码</b>/2.选择要检测的好友/3.自定义消息</div>
<div class="weui-msg">
    <div class="weui-msg__icon-area">
        <img style="width:336px;height:336px;" src="@Model" />
        @*<img style="width:336px;height:336px;" src="~/images/pubqrcode.jpg" />*@
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">扫码检测僵尸</h2>
        <p class="weui-msg__desc">
            请将上面的二维码发送给好友或其他设备，使用自己的微信进行扫码<br />
            (<span style="color:red;">切记必须使用摄像头扫</span>)<br />
            建议方式：<br />
            1.长按后选择发送给朋友，之后扫描朋友的手机 <br />
            2.点右上角微信菜单后分享到QQ等可在电脑上打开
        </p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:history.back();" class="weui-btn weui-btn_primary">发送二维码到其他设备</a>
        </p>
    </div>
</div>