
<div class="weui-cells__title">清理步骤：1.扫二维码/<b color="#000;">2.选择要屏蔽的好友</b>/3.自定义消息</div>
<div style="padding:40px">
    <h3>选择要屏蔽的好友</h3>
</div>
<div class="weui-cells__title">你屏蔽的好友将不会收到检测消息，当然也检测不出他是否是僵尸</div>
<div class="weui-cells weui-cells_checkbox">
    @*<label class="weui-cell weui-check__label" for="s12">
            <div class="weui-cell__hd">
                <input type="checkbox" name="checkbox1" class="weui-check" id="s12">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>standard is dealicient for u.</p>
            </div>
        </label>*@
    <div class="weui-tabbar" style="position:fixed;bottom:0;">
        <div class="weui-tabbar__item weui-bar__item_on">
            <input type="submit" class="weui-btn weui-btn_primary" value="开始检测" />
        </div>
    </div>
</div>

