@section css{
    <style type="text/css">
        .page {
            padding: 40px;
        }

        body {
            background-color: #f8f8f8;
        }

        .grid2 {
            width: 50%;
        }

            .grid2 .weui-grid__icon {
                width: 168px;
                height: 168px;
            }

            .grid2 .weui-grid__label {
                margin: 0 auto;
                width: 180px;
                white-space: normal;
                overflow: inherit;
            }

        .weui-panel__hd h2 {
            color: #000;
        }

        .weui-media-box__desc {
            overflow: inherit;
            -webkit-line-clamp: inherit;
        }
    </style>
}
<div>
    <img style="width:100%;height:100%" src="~/images/zombie_ad.png" />
</div>
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd"><h2>第一步：联系客服获取清僵尸专用二维码</h2></div>
    <div class="weui-panel__bd">
        <div class="weui-grids">
            <div href="javascript:;" class="weui-grid grid2">
                <div class="weui-grid__icon">
                    <img src="~/images/pubqrcode.jpg" />
                </div>
                <p class="weui-grid__label">
                    长按二维码识别<br />
                    关注公众号<br />
                    (caifuziyoufendou)<br />
                    获取优惠
                </p>
            </div>
            <div href="javascript:;" class="weui-grid grid2">
                <div class="weui-grid__icon">
                    <img src="~/images/person.jpg" />
                </div>
                <p class="weui-grid__label">
                    长按二维码识别<br />
                    添加客服帐号<br />
                    (Im__Charlie)<br />
                    获取专用二维码
                </p>
            </div>
        </div>
    </div>
</div>

<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd"><h2>第二步：扫描二维码</h2></div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">将收到的二维码转发到其他设备</h4>
            <p class="weui-media-box__desc">由于微信安全限制，本二维码不能通过长按识别的方式操作，<b>切记只能使用摄像头扫码</b>，所以你身边必须有其他设备。可以发到朋友手机，或者自己的电脑上，当然也可以打印出来。</p>
        </div>
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">使用自己需要清理的微信进行扫码</h4>
            <p class="weui-media-box__desc">在扫码后会提示你登录到微信网页版，请点击登录。请放心使用，这是登录腾讯的网站。<b>在清理过程中切记不可退出登录</b>。</p>
        </div>
    </div>
</div>

<div class="weui-panel">
    <div class="weui-panel__hd"><h2>服务费用</h2></div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>好友数1-300</p>
                    </div>
                    <div class="weui-cell__ft">2元</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>好友数300-1000</p>
                    </div>
                    <div class="weui-cell__ft">5元</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>好友数1000-3000</p>
                    </div>
                    <div class="weui-cell__ft">10元</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>好友数3000-5000</p>
                    </div>
                    <div class="weui-cell__ft">15元</div>
                </div>
            </div>
        </div>
    </div>
</div>
